<div class = "pure-g"> 
	
	<div class = "pure-u-1 pure-menu pure-menu-open pure-menu-horizontal">
		<ul>
			<li><a href="#">YFA </a> </li>
			<li> <%= link_to "log in", "/profile" %> </li>
			<li> <%= link_to "log out", logout_path %> </li>
			<li> <%= link_to "screenings", '#' %> </li>
			<li><a href="#"> Projects </a> </li>
		</ul>
	</div>

</div>